.active {
    background-color: yellow;
    color: black;
}

.not-active {
    background-color: red;
    color: white;
}

.veryActive {
    background-color: green;
    color: white;
}
